fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
httpx
cloudinary
alembic==1.18.4